{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "project": "tsconfig.json",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "ignorePatterns": [
    "temp.js",
    "node_modules/",
    "node_modules-local/",
    "*config.js",
    "app.test/"
  ],
  "rules": {
    "@typescript-eslint/no-misused-new": "off",
    "@typescript-eslint/class-name-casing": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/member-ordering": [
      "error",
      {
        "default": [
          "static-field",
          "static-method",
          "instance-field",
          "abstract-field",
          "constructor",
          "instance-method",
          "abstract-method"
        ]
      }
    ],
    "require-await": "off",
    "@typescript-eslint/require-await": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-unnecessary-type-as": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-misused-promises": [
      "error",
      {
        "checksVoidReturn": false,
        "checksConditionals": false
      }
    ]
  }
}